@media (min-width: 993px) {
  .nav-menu ul li a {
    font-size: 10px;
  }

  #header {
    height: 80px;
  }

  #hero.ltb-hero {
    width: 100%;
    height: calc(50vh - 72px);
    background: url(../img/ltb_hero-bg.png) center center;
    background-size: cover;
    position: relative;
    margin-top: 72px;
    padding: 0;
  }

  #hero.hp-hero {
    width: 100%;
    height: calc(50vh - 72px);
    background: url(../img/hp_hero-bg.png) center center;
    background-size: cover;
    position: relative;
    margin-top: 72px;
    padding: 0;
  }
}
@media (max-width: 993px) {
  #hero.ltb-hero {
    height: calc(100vh - 72px);
  }
  #hero.hp-hero {
    height: calc(100vh - 72px);
  }
}
#hero.ltb-hero {
  background: url(../img/ltb_hero-bg.png) center center;
}
#hero.hp-hero {
  background: url(../img/hp_hero-bg.png) center center;
}
